.nav-menu {
  display: grid;
  grid-template-columns: auto auto auto;
  min-height: 6.25rem;

}
.nav-menu > ul {
  text-align: center;
  list-style: none;
}
.nav-logo {
  max-height: 4rem;
  margin-top: 0.7rem;
  margin-left: 1.25rem;
}

/* HEADING SECTION*/

.hero {
  background-color: #495e57;
  display: grid;
  height: 373px;
}
.hero-text {

}
.hero-img {
  width: 296px;
  height: 347px;
}
.reserv-btn{
  background-color: #f4ce14;
  border: none;
  border-radius: 16px;
  width: 200px;
  height: 43px;
}